.idea/
src/vendor
node_modules
src/etc/integration/config.xml
src/etc/integration/api.xml
.env
dist/
switchboard/.serverless/
yarn-error.log
switches/test/mock_data/
tmp_tsc_compile/
*.log
switches/.awcache/
