.idea/
src/vendor
node_modules
src/etc/integration/config.xml
src/etc/integration/api.xml
.env
dist/
switchboard/.serverless/
yarn-error.log
switches/test/mock_data/
.tmp/
*.log
switches/.awcache/
package-lock.json
*.tgz
module/vendor/
release/
module/etc/integration/config.xml
