html,
body {
  overflow-y: hidden;
}

#ns8-protect-wrapper > .activation-steps {
  padding-left: 50px;
}

#ns8-protect-wrapper > .ns8-protect-client-iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.page-footer {
  display: none;
}
