#ns8-protect-wrapper > .ns8-protect-client-iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.page-footer {
  display: none;
}

.page-title-wrapper {
  display: inline-block;
  margin-right: 1em;
}

.ns8-store-select-icon {
  font-family: 'Admin Icons';
  margin-right: 0.5em;
}

.ns8-store-select-icon:before {
  content: '\e60d';
}
