.ns8-order-tab-title {
  margin-left:10px;
  font-weight: 200;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  white-space: nowrap;
  padding: 4px 8px;
}

.ns8-order-tab-status {
  display: inline-block;
  margin-left:5px;
}

.ns8-accept-badge, .ns8-approved-badge {
  background-color: #61a247;
  color: #fff;
}

.ns8-cancel-badge, .ns8-canceled-badge {
  background-color: #d0664c;
  color: #fff;
}

.ns8-investigate-badge {
  background-color: #e09f00;
  color: #fff;
}

.ns8-order-score {
  padding-right: 5px;
  width: 32px;
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

iframe.ns8-protect-client-iframe {
  width: 1px;
  min-width: 100%;
}

#sales_order_view_tabs_ns8_protect_order_review_content #ns8-protect-wrapper {
  width: 100%;
}

#sales_order_view_tabs_ns8_protect_order_review_content #ns8-protect-wrapper iframe.ns8-protect-client-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.ns8-risk-high, .ns8-risk-med, .ns8-risk-low {
  color: white;
  border: 6px solid;
  border-radius: 5px;
}

.ns8-risk-high:hover, .ns8-risk-med:hover, .ns8-risk-low:hover {
  color: white;
}

.ns8-risk-high {
  background-color: #ef442e;
  border-color: #ef442e;
}

.ns8-risk-med {
  background-color: #f8991d;
  border-color: #f8991d;
}

.ns8-risk-low {
  background-color: #78c143;
  border-color: #78c143;
}

.ns8 div.data-grid-cell-content {
  overflow: visible;
}
