<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="ns8csp2" id="ns8csp2">
            <module name="NS8_CSP2"/>
        </route>
    </router>
</config>
