<integrations>
  <integration name="NS8 Protect">
    <email>apps@ns8.com</email>
    <endpoint_url>http://cfro-magento.ngrok.io/protect/magento/callback</endpoint_url>
    <identity_link_url>http://cfro-magento-client.ngrok.io/protect/magento/identity</identity_link_url>
  </integration>
</integrations>
