<integrations>
  <integration name="NS8 Protect">
    <email>apps@ns8.com</email>
    <endpoint_url>https://test-protect.ns8.com/protect/protect/magento/callback</endpoint_url>
    <identity_link_url>https://test-protect.ns8.com/protect/protect/magento/identity</identity_link_url>
  </integration>
</integrations>
