.ns8-order-tab-title {
  margin-left:10px;
  font-weight: 200;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  white-space: nowrap;
  padding: 4px 8px;
}

.ns8-order-tab-status {
  display: inline-block;
  margin-left:5px;
}

.ns8-accept-badge, .ns8-approved-badge {
  background-color: #61a247;
  color: #fff;
}

.ns8-cancel-badge, .ns8-canceled-badge {
  background-color: #d0664c;
  color: #fff;
}

.ns8-investigate-badge {
  background-color: #e09f00;
  color: #fff;
}

.ns8-order-score {
  padding-right: 5px;
  width: 32px;
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#sales_order_view_tabs_ns8_protect_order_review_content #ns8-protect-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Percentage from a height of 9 & a width of 16 */
}
#sales_order_view_tabs_ns8_protect_order_review_content #ns8-protect-wrapper iframe.ns8-protect-client-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
